<p style="color: green"><%= notice %></p>

<%= render @enrolment %>

<div>
  <%= link_to "Edit this enrolment", edit_enrolment_path(@enrolment) %> |
  <%= link_to "Back to enrolments", enrolments_path %>

  <%= button_to "Destroy this enrolment", @enrolment, method: :delete %>
</div>
