<p style="color: green"><%= notice %></p>

<%= render @major %>

<div>
  <%= link_to "Edit this major", edit_major_path(@major) %> |
  <%= link_to "Back to majors", majors_path %>

  <%= button_to "Destroy this major", @major, method: :delete %>
</div>
